services:
  webserver:
    ports:
      - "80:80"
    volumes:
      - ./server/docker/nginx/conf.d/prod.conf:/etc/nginx/conf.d/default.conf:ro
      - assets_volume:/var/www/public
    restart: always

  app:
    env_file:
      - ./server/.env # Ou /run/secrets no futuro
    volumes:
      - ./server/storage:/var/www/storage
      - assets_volume:/var/www/public
    command: sh -c "php artisan config:cache && php artisan route:cache && php artisan view:cache && php-fpm"
    restart: always

  queue:
    command: php artisan queue:work --tries=3 --timeout=90
    env_file:
      - ./server/.env
    restart: always

  scheduler:
    command: php artisan schedule:work
    env_file:
      - ./server/.env
    restart: always

  mysql:
    restart: always
    # NENHUMA PORTA EXPOSTA AQUI PARA O EXTERNO

  redis:
    restart: always
    # NENHUMA PORTA EXPOSTA AQUI PARA O EXTERNO

  sse:
    ports:
      - "8080:8080"
    env_file:
      - ./sse/.env
    restart: always