services:
  webserver:
    image: nginx:alpine
    depends_on:
      - app
    networks:
      - vinmo-network

  app:
    build:
      context: ./server
      dockerfile: docker/Dockerfile
    working_dir: /var/www
    networks:
      - vinmo-network
    depends_on:
      - mysql
      - redis

  queue:
    build:
      context: ./server
      dockerfile: docker/Dockerfile
    working_dir: /var/www
    networks:
      - vinmo-network
    depends_on:
      - app
      - redis
      - mysql

  scheduler:
    build:
      context: ./server
      dockerfile: docker/Dockerfile
    working_dir: /var/www
    networks:
      - vinmo-network
    depends_on:
      - app
      - mysql

  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - vinmo-network
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:8-alpine
    command: redis-server --appendonly yes
    volumes:
      - redis-data:/data
    networks:
      - vinmo-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  sse:
    build:
      context: ./sse
      dockerfile: Dockerfile
    depends_on:
      - redis
    networks:
      - vinmo-network

volumes:
  mysql-data:
  redis-data:
  assets_volume:

networks:
  vinmo-network:
    driver: bridge