@layer theme, base, antd, components, utilities;
@import "tailwindcss";

@custom-variant light (&:where([data-theme=light], [data-theme=light] *));
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
    --color-app-bg: var(--color-app-bg);

    /* ALIAS PARA O ANTD */
    /* ----- Fundo ----- */
    --color-ant-bg: var(--ant-color-bg-container);
    --color-ant-bg-elevated: var(--ant-color-bg-elevated);
    --color-ant-bg-base: var(--ant-color-bg-base);
    --color-ant-bg-layout: var(--ant-color-bg-layout);
    --color-ant-bg-spotlight: var(--ant-color-bg-spotlight, var(--ant-color-bg-elevated));
    --color-ant-bg-blur: var(--ant-color-bg-blur);

    --color-ant-bg-mask: var(--ant-color-bg-mask);


    /* ----- Texto ----- */
    --color-ant-text: var(--ant-color-text);
    --color-ant-text-sec: var(--ant-color-text-secondary);
    --color-ant-text-ter: var(--ant-color-text-tertiary);
    --color-ant-text-quat: var(--ant-color-text-quaternary);
    --color-ant-text-placeholder: var(--ant-color-text-placeholder);

    /* ----- Ícone ----- */
    --color-ant-icon: var(--ant-color-icon, var(--ant-color-text-secondary));
    --color-ant-icon-hover: var(--ant-color-icon-hover, var(--ant-color-text));

    /* ----- Borda / Split ----- */
    --color-ant-border: var(--ant-color-border);
    --color-ant-border-sec: var(--ant-color-border-secondary);
    --color-ant-split: var(--ant-color-split, var(--ant-color-border-secondary));

    /* ----- Preenchimentos “muted” (chips, hovers suaves) ----- */
    --color-ant-fill: var(--ant-color-fill);
    --color-ant-fill-sec: var(--ant-color-fill-secondary);
    --color-ant-fill-ter: var(--ant-color-fill-tertiary);
    --color-ant-fill-quat: var(--ant-color-fill-quaternary);

    /* ----- Marca / Ações principais ----- */
    --color-ant-primary: var(--ant-color-primary);
    --color-ant-primary-hover: var(--ant-color-primary-hover);
    --color-ant-primary-active: var(--ant-color-primary-active);
    --color-ant-primary-text: var(--ant-color-primary-text, var(--ant-color-primary));

    /* ----- Estados (sucesso/aviso/erro/info) ----- */
    --color-ant-success: var(--ant-color-success);
    --color-ant-success-hover: var(--ant-color-success-hover);
    --color-ant-success-active: var(--ant-color-success-active);

    --color-ant-warning: var(--ant-color-warning);
    --color-ant-warning-hover: var(--ant-color-warning-hover);
    --color-ant-warning-active: var(--ant-color-warning-active);

    --color-ant-error: var(--ant-color-error);
    --color-ant-error-hover: var(--ant-color-error-hover);
    --color-ant-error-active: var(--ant-color-error-active);

    --color-ant-info: var(--ant-color-info);
    --color-ant-info-hover: var(--ant-color-info-hover);
    --color-ant-info-active: var(--ant-color-info-active);

    /* ----- Links ----- */
    --color-ant-link: var(--ant-color-link, var(--ant-color-primary));
    --color-ant-link-hover: var(--ant-color-link-hover, var(--ant-color-primary-hover));
    --color-ant-link-active: var(--ant-color-link-active, var(--ant-color-primary-active));

    /* ----- Sombras ----- */
    --shadow-ant-1: var(--ant-box-shadow);
    --shadow-ant-2: var(--ant-box-shadow-secondary);
    --shadow-ant-3: var(--ant-box-shadow-tertiary);

    --shadow-border: 0 0 10px 2px rgb(0 0 0 / 15%);

    /* ----- Dimensões / Raio / Largura de borda ----- */
    --radius-ant: var(--ant-border-radius);
    --radius-ant-lg: var(--ant-border-radius-lg);
    --radius-ant-sm: var(--ant-border-radius-sm);
    --radius-ant-xs: var(--ant-border-radius-xs);

    --line-ant: var(--ant-line-width);
    --line-ant-bold: var(--ant-line-width-bold);

    --control-ant-h: var(--ant-control-height);
    --control-ant-h-lg: var(--ant-control-height-lg);
    --control-ant-h-sm: var(--ant-control-height-sm);
    --control-ant-h-xs: var(--ant-control-height-xs);

    /* ----- Espaçamentos úteis ----- */
    --space-ant: var(--ant-padding);
    --space-ant-lg: var(--ant-padding-lg);
    --space-ant-sm: var(--ant-padding-sm);
    --space-ant-xs: var(--ant-padding-xs);

    --breakpoint-xss: 380px;
    --breakpoint-xs: 480px;

    --color-overlay: var(--overlay);

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@layer utilities {
    .shadow-ant-1 {
        box-shadow: var(--shadow-ant-1) !important;
    }

    .shadow-ant-2 {
        box-shadow: var(--shadow-ant-2) !important;
    }

    .shadow-ant-3 {
        box-shadow: var(--shadow-ant-3) !important;
    }

    .shadow-border {
        box-shadow: var(--shadow-border) !important;
    }
}

:root {
    --color-app-bg: #f5f5f5;
}

:root[data-theme="dark"] {
    --color-app-bg: #0f0f0f;
}

:root .ant.ant-btn {
    --ant-button-text-text-color: rgba(0, 0, 0, 0.76);
    --ant-button-text-text-hover-color: color-mix(in srgb, rgba(0, 0, 0, 1) 90%, var(--ant-color-primary) 10%);
}

:root[data-theme="dark"] .ant.ant-btn {
    --ant-button-text-text-color: rgba(255, 255, 255, 0.82);
    --ant-button-text-text-hover-color: color-mix(in srgb, rgba(255, 255, 255, 1) 90%, var(--ant-color-primary) 10%);
}

body {
    font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

.antd-upload-w-180 {
    width: 180px;
    height: 180px;
}

.antd-upload-w-180 .ant-upload-list-item-container,
.antd-upload-w-180 .ant-upload-select {
    width: 180px !important;
    height: 180px !important;
}

.antd-upload-error .ant-upload.ant-upload-select {
    border-color: #ff4d4f !important;
}

.rounded-avatar,
.rounded-avatar ~ .ant-image-mask {
    border-radius: 50%
}

@keyframes dots {
    0% {
        content: '';
    }
    25% {
        content: '.';
    }
    50% {
        content: '..';
    }
    75% {
        content: '...';
    }
    100% {
        content: '';
    }
}

.loading-dots::after {
    content: '';
    animation: dots 2s steps(1) infinite;
}

@keyframes float-smooth {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.floating-css {
    animation: float-smooth 4s cubic-bezier(0.45, 0, 0.55, 1) infinite;
    will-change: transform;
}
